%header
  %nav.navbar.navbar-expand-md.navbar-light.bg-dark
    = link_to "ズボラッシュ", root_path, class: "navbar-brand text-white"

    %button.navbar-toggler{type: "button", data:{toggle:"collapse", target: "menu"}}= '&#9776;'.html_safe

    #menu.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nab-item= link_to '新規登録', new_recipe_path, class: 'nav-link text-white'
